main {
  max-width: 350px;
  margin: 0 auto;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add-btn {
  margin-left: 115px;
  padding: 0 20px;
}
.book-list {
  width: 100%;
}
.book-space {
  display: flex;
  align-items: center;
}
.book-des {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.remove {
  width: auto;
  height: 25px;
}
